[Unit]
Description=Auto-resize the root partition to 100% of SD Card
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/resize-rootfs.sh
RemainAfterExit=yes

[Install]
WantedBy=basic.target
