# Version: v1.0
[Unit]
Description=Enable WiFi Power Save mode
After=wpa_supplicant@wlan0.service
Wants=wpa_supplicant@wlan0.service

[Service]
Type=oneshot
ExecStart=/usr/bin/wifi-power-save.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
